<section class="about" id="about">
  <h3>Tradition and love</h3>
  <h2>how it's made?</h2>
  <div class="about-image-container">
    <div class="about-image-background">
      <div class="about-circle-background"></div>
      <img
        src="images/about/cow.png"
        alt="cow eating on a field"
        class="about-image"
      />
    </div>

    <div class="about-text-container">
      <p class="about-text">
        Ice is a place where you will become not only a little happier, but also
        healthier. Health is the main value for us, and we follow it when
        creating our handmade desserts.
      </p>
      <p class="about-text">
        We use traditional recipes and 100% natural ingredients. Our products
        are so natural that they can be given to children from the age of three
        years. Sweets lovers can expect 55 types of ice cream, 15 types of
        coffee and 23 milkshakes.
      </p>
      <p class="about-text">
        This is enough to choose ice cream and coffee for any mood!
      </p>
      <button class="about-btn action-arrow" data-modal="modal-read-more">
        Read more >
      </button>
    </div>
  </div>
  <ul class="about-number-container">
    <li class="about-number-element">
      <div>
        <img src="images/about/cow-icon.svg" />
        <p class="about-number">721</p>
        <p class="about-number-description">Cows in the farm</p>
      </div>
    </li>
    <li class="about-number-element">
      <div>
        <img src="images/about/weight-icon.svg" />
        <p class="about-number">16kg</p>
        <p class="about-number-description">Milk in the farm</p>
      </div>
    </li>
    <li class="about-number-element">
      <div>
        <img src="images/about/ice-crema-icon.svg" />
        <p class="about-number">84</p>
        <p class="about-number-description">Ice creams per hour</p>
      </div>
    </li>
  </ul>

  <div class="modal" id="modal-read-more">
    <div class="modal-content">
      <span class="close-btn">&times;</span>
      <h2 class="modal-about-title">Read more</h2>
    </div>
  </div>
</section>
