<section class="hero">
  <div class="hero-background">
    <h1 class="hero-title">Ice Cream made with passion</h1>
    <div class="hero-description-section">
      <img
        src="images/hero-header/ice-cream-plate.png"
        alt="a plate full of ice cream scoops"
        class="hero-image"
      />
      <p class="hero-description">
        Indulge in a scoop of ice cream made with passion and treat your taste
        buds to an unforgettable experience!
      </p>
    </div>
  </div>
  <img
    src="images/hero-header/ice-cream-smiles.png"
    alt="3 ice cream scoops with smiley face"
    class="hero-smile"
  />
  <div class="hero-info-sections">
    <dl>
      <dt>16</dt>
      <dl>cafes</dl>
    </dl>
    <dl>
      <dt>23</dt>
      <dl>food trucks</dl>
    </dl>
  </div>
</section>
