<section class="locations">
  <ul class="locations-list">
    <li class="locations-list-item">
      <h3 class="locations-title">Cafe</h3>
      <p class="locations-city">Chicago</p>
      <p class="locations-map-adress">
        <a
          class="action-arrow"
          data-modal="modal-chicago-maps"
          data-target="#modal-chicago-maps"
          data-toggle="modal"
          href="#modal-chicago-maps"
          >10340 Ridgeland Ave, Chicago Ridge, IL 60415, USA</a
        >
      </p>
      <p class="locations-days">Monday - Friday</p>
      <p class="locations-hours">06:00 AM - 10:00 PM</p>
      <p class="locations-days">Saturday - Sunday</p>
      <p class="locations-hours">08:00 - 16:00 PM</p>
      <p class="locations-phone">
        <a href="tel:+61(0) 383 766 284">+61(0) 383 766 284</a>
      </p>
      <p class="locations-email">
        <a
          href="mailto:noreply@envato.com"
          target="_blank"
          rel="noopener noreferrer"
          >noreply@envato.com</a
        >
      </p>
    </li>

    <li class="locations-list-item">
      <h3 class="locations-title">Food Truck</h3>
      <p class="locations-city">Los Angeles</p>
      <p class="locations-map-adress">
        <a
          class="action-arrow"
          data-modal="modal-chicago-maps"
          data-target="#modal-chicago-maps"
          data-toggle="modal"
          href="#modal-chicago-maps"
          >1003 Manhattan Ave, Manhattan Beach, CA 90263, USA</a
        >
      </p>
      <p class="locations-days">Monday - Friday</p>
      <p class="locations-hours">06:00 AM - 10:00 PM</p>
      <p class="locations-days">Saturday - Sunday</p>
      <p class="locations-hours">08:00 - 16:00 PM</p>
      <p class="locations-phone">
        <a href="tel:+61(0) 383 766 284">+61(0) 383 766 284</a>
      </p>
      <p class="locations-email">
        <a
          href="mailto:noreply@envato.com"
          target="_blank"
          rel="noopener noreferrer"
          >noreply@envato.com</a
        >
      </p>
    </li>

    <li class="locations-list-item">
      <h3 class="locations-title">Cafe</h3>
      <p class="locations-city">New York</p>
      <p class="locations-map-adress">
        <a
          class="action-arrow"
          data-modal="modal-chicago-maps"
          data-target="#modal-chicago-maps"
          data-toggle="modal"
          href="#modal-chicago-maps"
          >726 Sterling Pl, Brooklyn, NY 11222, USA</a
        >
      </p>
      <p class="locations-days">Monday - Friday</p>
      <p class="locations-hours">06:00 AM - 10:00 PM</p>
      <p class="locations-days">Saturday - Sunday</p>
      <p class="locations-hours">08:00 - 16:00 PM</p>
      <p class="locations-phone">
        <a href="tel:+61(0) 383 766 284">+61(0) 383 766 284</a>
      </p>
      <p class="locations-email">
        <a
          href="mailto:noreply@envato.com"
          target="_blank"
          rel="noopener noreferrer"
          >noreply@envato.com</a
        >
      </p>
    </li>
  </ul>

  <div class="modal location-modal" id="modal-chicago-maps">
    <div class="modal-content location-modal-content">
      <span class="close-btn">&times;</span>
      <h2>Our Locations</h2>
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2978.7934579356006!2d-87.78231502321682!3d41.70339427633335!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x880e39ad302b2c19%3A0xc808e9b14d04eb2b!2s10340%20Ridgeland%20Ave%2C%20Chicago%20Ridge%2C%20IL%2060415%2C%20Statele%20Unite%20ale%20Americii!5e0!3m2!1sro!2sde!4v1745481367108!5m2!1sro!2sde"
        width="600"
        height="450"
        style="border: 0"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"
      ></iframe>
    </div>
  </div>
</section>
