<section class="products" id="products">
  <h3>100% Natural</h3>
  <h2 class="products">Products</h2>

  <ul class="products-list">
    <li class="products-list-item">
      <div class="product-card card-1">
        <div class="image-container">
          <img
            class="product-image image-1"
            src="images/products/ice-cream.png"
            alt="Ice Cream"
          />
        </div>
        <h3 class="product-title">Ice Cream</h3>
        <p class="product-description">
          Soft ice cream with a delicate taste. Made with milk, cream, sugar and
          natural stabilizer
        </p>
        <img
          class="action-arrow"
          data-modal="modal-ice-cream"
          src="images/products/arrow.svg"
          alt="arrow"
        />
      </div>
    </li>
    <li class="products-list-item">
      <div class="product-card card-2">
        <div class="image-container image-2">
          <img
            class="product-image"
            src="images/products/ice-coffee.png"
            alt="Ice Coffee"
          />
        </div>
        <h3 class="product-title">Ice Coffee</h3>
        <p class="product-description">
          Fragrant invigorating drink created from 100% natural ingredients
          without the use of preservatives and flavor enhancers
        </p>
        <img
          class="action-arrow"
          data-modal="modal-coffee"
          src="images/products/arrow.svg"
          alt="arrow"
        />
      </div>
    </li>
    <li class="products-list-item">
      <div class="product-card card-3">
        <div class="image-container image-3">
          <img
            class="product-image"
            src="images/products/milkshakes.png"
            alt="Milkshakes"
          />
        </div>
        <h3 class="product-title">milkshakes</h3>
        <p class="product-description">
          Sweet drinks based on milk and ice cream, supplemented with syrups,
          fruits, berries and other sweets of your choice
        </p>
        <img
          class="action-arrow"
          data-modal="modal-milkshake"
          src="images/products/arrow.svg"
          alt="arrow"
        />
      </div>
    </li>
  </ul>

  <div class="modal" id="modal-ice-cream">
    <div class="modal-content">
      <span class="close-btn">&times;</span>
      <h2>Chocolate Ice Cream</h2>

      <div class="modal-nutrients">
        <dl class="nutrient-pair">
          <dt class="value">320</dt>
          <dd class="unit">kcal</dd>
        </dl>
        <dl class="nutrient-pair">
          <dt class="value">4g</dt>
          <dd class="unit">Protein</dd>
        </dl>
        <dl class="nutrient-pair">
          <dt class="value">8.2g</dt>
          <dd class="unit">Fats</dd>
        </dl>
        <dl class="nutrient-pair">
          <dt class="value">40.4g</dt>
          <dd class="unit">Carbs</dd>
        </dl>
      </div>

      <p>Incredients</p>
      <table>
        <tr>
          <td>Milk</td>
          <td>100ml</td>
        </tr>
        <tr>
          <td>Belgian Chocolate</td>
          <td>20g</td>
        </tr>
        <tr>
          <td>Cream</td>
          <td>150g</td>
        </tr>
        <tr>
          <td>Cocoa Powder</td>
          <td>30g</td>
        </tr>
        <tr>
          <td>Sugar</td>
          <td>30g</td>
        </tr>
        <tr>
          <td>Vanilla Sugar</td>
          <td>10g</td>
        </tr>
      </table>
    </div>
  </div>
</section>
